[2015-08-24 01:35] eribertomota opened #1 "Typo singed/signed in README"
From https://github.com/simsong/AFFLIBv3/issues/18

--- AFF allows files to be digital singed, to provide for
--- AFF allows files to be digital signed, to provide for

https://github.com/sshock/AFFLIBv3/blob/master/README

Regards,

Eriberto

[2015-08-24 01:43] sshock commented on #1
Fixed in 60c6520237f78158dfd48197ab0d869e26da4e18

[2015-08-24 01:43] #1 closed

[2015-08-24 01:48] eribertomota commented on #1
Thanks!

2015-08-23 22:43 GMT-03:00 Phillip Hellewell <notifications@github.com>:

[2015-08-24 02:22] hartwork commented on #1
Excellent!

[2015-10-08 15:30] dcb314 opened #2 "aff_bom.cpp:241: bad if test ?"
[aff_bom.cpp:241]: (style) A pointer can not be negative so it is either pointless or an error to check if it is.

    u_char *segdata = (u_char *)malloc(datalen);/* Allocate memory */
    if(segdata<0) return -1;

[2015-10-09 03:07] sshock commented on #2
Fixed in aa19cd0

[2015-10-09 03:07] #2 closed

[2015-11-16 22:07] rlskoeser opened #3 "AFF convert errors & questions"
I need to write a script to convert a bunch of AFF files to E01.  From the readme, it sounds like this library should include a tool for that, but when I go to the actual documentation I can't figure out which tool is supposed do that conversion.

I was able to get afflib compiled, and the affinfo seems to recognize the AFF files and reports back information that looks reasonable, but when I try t

[2015-11-17 05:25] sshock commented on #3
Hi riskoeser.  Are you using the -r option?  E.g., `./affconvert -r test.aff`

[2015-11-17 14:41] rlskoeser commented on #3
@sshock Thank you, that was it!

For two of the three files I was testing with, I now get output like this:
[code]
and the resulting raw files are recognizable as disk images.  The other one is generating empty output, but I'm inclined to think it's an issue with this particular file.

I did look at the man page, but it was not apparent that I needed to use the `-r` flag, since the wording says "f

[2015-11-17 16:10] sshock commented on #3
Yes, please submit a pull request to fix the man page.  I agree that the use of the word "force" makes it sound like something special instead of normal operation, and the lack of an example going this direction doesn't help.

BTW, if you look inside affconvert.cpp, you will find like 5 examples in usage(); these were commented out when the man page was added.  I can't vouch for the accuracy of al

[2015-11-17 16:15] rlskoeser commented on #3
@sshock thanks so much for the clarification.  I'll try to get a pull request together soon to improve the readme and man page.

Thanks also for the suggestion to look at FTK Imager - I think that's one of the tools our digital curators have been using, but I was not aware there were command-line versions, so that is definitely worth a look!

[2015-11-18 16:27] sshock commented on #3
Thank you for the pull request.

[2015-11-18 16:27] #3 closed

[2016-03-26 10:20] conraid opened #6 "3.7.7 ncurses and Linux"
In Slackware Linux 14.2rc1 build fails with

`
libtool: link: g++ -g -O2 -D_FORTIFY_SOURCE=2 -Wall -g -o .libs/affix affix.o  -L/usr/local/lib ../lib/.libs/libafflib.so /usr/lib64/../lib64/libstdc++.so -lm -lcrypto /usr/lib64/libexpat.so -ltermcap -lrt -lz -Wl,-rpath -Wl,/usr/local/lib -Wl,-rpath -Wl,/usr/lib64/../lib64
affinfo.o: In function 'bold(int)':
/tmp/AFFLIBv3-3.7.7-orig/tools/affinfo.cpp

[2016-03-26 15:31] sshock commented on #6
Hi conraid, thanks!  Can you submit it as a pull request?

[2016-03-26 16:20] sshock commented on #6
Actually I think I might just rip out the curses support.  It's only really used in one place in affinfo and it doesn't even work there.

[2016-03-26 16:24] conraid commented on #6
Done.

I don't know for ncurses, I use it only to build sleuthkit and bulk_extractor.

[2016-03-26 16:31] sshock commented on #6
Fixed in 61bf90d3c0211be89c39ee539b74680a070258b1.

[2016-03-26 16:31] #6 closed

[2016-05-11 01:54] eribertomota opened #8 "Fix spelling errors"
Hi Phillip,

The attached patches were used in last Debian revision to fix some spelling errors.

Thanks in advance.

Regards,

Eriberto

[10_fix_spelling_errors_in_source_code.patch.zip](https://github.com/sshock/AFFLIBv3/files/258438/10_fix_spelling_errors_in_source_code.patch.zip)
[20_fix_spelling_in_manpage.patch.zip](https://github.com/sshock/AFFLIBv3/files/258439/20_fix_spelling_in_manpage.p

[2016-05-11 01:57] eribertomota opened #9 "Fix issues with GCC-6"
Hi Phillip,

The attached patches were used in last Debian revision to fix some issues with GCC-6.

Thanks in advance.

Regards,

Eriberto

[30_fix_gcc_warnings_literal-suffix.patch.zip](https://github.com/sshock/AFFLIBv3/files/258446/30_fix_gcc_warnings_literal-suffix.patch.zip)
[40_fix_gcc_warnings_misleading-indentation.patch.zip](https://github.com/sshock/AFFLIBv3/files/258447/40_fix_gcc_warni

[2016-05-11 05:19] sshock commented on #8
Thanks.  I applied the patches in commit b5284e7ee4af66a59a2fa8f1717d0ead59e5c703.

[2016-05-11 05:19] #8 closed

[2016-05-11 06:11] sshock commented on #9
Fixed in 0f67bdd9ec446e5be791c3d69ce605d774156c94 and 4fd23a9bcade37e69c52eb32c167e785536c4dc0 with some caveats:

1. When fixing string literals like PRIu32, I added a space after as well, not just before.

2. I don't believe the change to String.h and Vector.h was correct.  I think the brackets added cause incorrect behavior in those functions.  So instead of adding brackets, I just fixed the in

[2016-05-11 06:11] #9 closed

[2016-05-16 18:37] eribertomota commented on #9
Thanks!!!

[2016-08-24 02:29] eribertomota opened #10 "Fail to build woth OpenSSL 1.1.0"
Hi,

Debian will use OpenSSL as default soon. This bug[1] says about issues between AFFLib and OpenSSL 1.1.0. Can you take a look?

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=828228

Thanks a lot in advance.

Regards,

Eriberto

[2016-08-24 04:03] sshock commented on #10
Sure; I don't think this will be very hard to fix.

[2016-08-24 04:40] sshock commented on #10
Fixed in ab1306d320dd482c277ac7fe3469440acd963162.

[2016-08-24 12:50] eribertomota commented on #10
Thanks!

2016-08-24 1:40 GMT-03:00 Phillip Hellewell <notifications@github.com>:

[2016-09-12 18:10] sshock commented on #10
(Re-opened because not totally fixed yet.  More files needed to be updated, not just crypto.cpp.)

[2016-09-12 18:13] sshock commented on #10
Fix take 2 in 507811efaddf7b66b7cec183a8aeb38e442b47f0.

[2016-09-12 18:13] #10 closed

[2016-09-12 23:52] eribertomota commented on #10
Thanks! Building fine in Debian. I will open a new bug about warning
messages when building.

Regards,

Eriberto

2016-09-12 15:13 GMT-03:00 Phillip Hellewell <notifications@github.com>:

[2016-09-13 00:06] eribertomota opened #11 "Warnings when building"
Hi,

The version 3.7.10 produces some warnings when building. The attached log, from Debian building system, shows all warnings.

Thanks in advance.

Regards,

Eriberto

[build.log.txt](https://github.com/sshock/AFFLIBv3/files/468581/build.log.txt)

[2016-09-13 00:18] eribertomota opened #12 "Spelling error in binary"
Hi,

Debian building system says via lintian:

I: afflib-tools: spelling-error-in-binary usr/bin/affcopy Deleteing Deleting
I: afflib-tools: spelling-error-in-binary usr/bin/affsign Deleteing Deleting

The attached patch fixes the issue. Thanks!

Regards,

Eriberto

[afflib.patch.txt](https://github.com/sshock/AFFLIBv3/files/468591/afflib.patch.txt)

[2016-09-15 01:26] sshock commented on #12
Fixed in 62caa281494602a43b2774f33affd323811e435f

[2016-09-15 01:26] #12 closed

[2016-09-15 02:56] sshock commented on #11
Fixed in bdc6228a580d28ac5a57fead2e7e5182367cd98c.

[2016-09-15 02:56] #11 closed

[2016-11-26 08:48] ilovezfs opened #17 "libexpat and libcurl not getting linked on macOS"
Despite configure claiming it has found libexpat and libcurl, they don't end up actually linked to libafflib unless I manually add `-L/usr/lib -lcurl -lexpat` to `LDFLAGS`.

When libafflib is not linked to libexpat, you get the error
[code]

When libafflib is not linked to libcurl, you get the error
[code]

[2016-11-26 17:34] sshock commented on #17
Fixed in e4d553e1cdcc8a54197d1883aa1c4fc7c83f0a79 (merge pull request #18).

[2016-11-26 17:34] #17 closed

[2016-12-27 21:01] gordan-bobic opened #20 "Feature request: Extending affuse to support more than 999 disk image segments"
What would it take to modify affuse to support more than 999 disk image segments? I had a look at the code in affuse.c, but it doesn't look like the code I am looking for is there. Can you please point me at the code file that I would need to modify, along with any pointers about what else might break if I were to naively just extend the file name format from a 3 digit suffix to more?

[2016-12-28 20:10] sshock commented on #20
Hi gordan.  From what I remember, a split AFF image is known as an AFD, and is stored as a folder named "<name>.afd" with files inside it for each segment named file_000.aff, file_001.aff, etc.

I believe what you are looking for is the aff_filename() function in lib/vnode_afd.cpp, which does this:

`snprintf(buf,buflen,"%s/file_%03d.aff",afd->fname,num);`

But we shouldn't naively change that to

[2016-12-28 20:10] #20 closed

[2017-06-22 07:20] zhouwanchun1993 opened #24 "Update Build Document( on Win32 platform)"
Please update documents on compiling on win32 platform.I have tried to use vs2013 or mingw32(native compiler).But I  get an error below when I link afflib.a:
 libafflib.a(crypto.o) : fatal error LNK1143: invalid or corrupt file: no symbol for COMDAT section 0x15.
Do you know the reason?

[2017-06-22 22:30] sshock commented on #24
I haven't tried it in VS2013, but I know I built it recently in VS2015 with no problem.
Have you already tried doing a clean build?

[2017-06-22 22:47] sshock commented on #24
I did find one issue with the include path, which is fixed now.  I don't believe it is related to the error you are seeing, but please pull down the latest sources and try again with a clean build and let me know how it goes.

[2017-06-23 03:03] zhouwanchun1993 commented on #24
I have a few questions more:
1.what version of openssl are you using?(mine is 1.0.2k)
2.should I put the zlib-1.2.3 source directory in win32 directory?(or I should build zlib and expat before building afflib?)

[2017-06-23 03:51] zhouwanchun1993 commented on #24
The first problem goes below:
Microsoft (R) Program Maintenance Utility Version 12.00.21005.1
Copyright (C) Microsoft Corporation.  All rights reserved.

        cl /I. /Izlib-1.2.3\  /I..\lib  /I..\include\afflib  /I..\lzma443\C  /I..\lzma443\C\7zip\Compress\LZMA_Alone  /Iexpat-2.0.1\lib  /I"C:\Program Files\Microsoft SDKs\Windows\v6.1"/Include /IC:\OpenSSL/Include /DWIN32 /DWIN32_NT /DMSC /D_CRT

[2017-06-23 03:54] zhouwanchun1993 commented on #24
I remove the /O2 option and run make.bat again. I face the second problem:

......balabala.........
cl /I. /Izlib-1.2.3\  /I..\lib  /I..\include\afflib  /I..\lzma443\C  /I..\lzma443\C\7zip\Compress\LZMA_Alone  /Iexpat-2.0.1\lib  /I"C:\Program Files\Microsoft SDKs\Windows\v6.1"/Include /IC:\OpenSSL/Include /DWIN32 /DWIN32_NT /DMSC /D_CRT_SECURE_NO_DEPRECATE /DHAVE_CONFIG_WINDOWS_H /DHAVE_LIBCRYPTO

[2017-06-23 06:37] sshock commented on #24
For the first problem, you'll want to remove /RTC1 (and /RTCs).  Also, I went ahead and checked in a fix for that: 7fb1dda1cc27b093d222400122fd3041a2add9ca.

For the second problem, what happens if you just remove the getopt.obj from line 141 (of afflib.mak), so the line just reads like this:?

WIN32_OBJS =

[2017-06-23 06:52] zhouwanchun1993 commented on #24
I build afflib.lib with no error in the end if I throw the  getopt.obj away.
Another question is coming.Actually,I need to build afflib in  MD(not MT) compile mode.so how can I get dll and lib file except I change the MT to MD from line 17(of afflib.mak).so the line would be like this:
COMPILER_MODE = /MD /O2 /D NDEBUG

[2017-06-23 06:58] sshock commented on #24
Sounds good.  Yeah, I found my build scripts from when I was building it, and I too had always manually removed the getopt.obj.

The actual library, afflib.lib, doesn't need getopt, but I think the tools do.

I've never built the tools on Windows, but I think to do that you would just need to find an implementation of getopt for Windows (e.g., like this one maybe?  https://github.com/Chunde/getopt

[2017-06-23 07:07] sshock commented on #24
Yeah, to build in MD mode, just change /MT to /MD on that COMPILER_MODE line.

But that won't change it to a dll instead of a static library.  You'll still get a static library.  The /MT and /MD flags don't change a project from a static library to a dll.  They change whether or not it uses *Visual Studio* run-time dlls or not.

[2017-06-23 07:15] sshock commented on #24
afflib is not designed to build as a dll on Windows

[2017-06-23 07:49] zhouwanchun1993 commented on #24
Tell you the truth,I have been troubled of building afflib for  almost one week.
Thanks for your patience!
Tip: I think it would be better if you can make a commit that put getopt.h and getopt.cpp into win32 directory.(I will come back if I have problem.)

[2017-06-23 08:57] #24 closed

[2017-06-24 00:51] sshock commented on #24
You're welcome.  Let me know if you have any more problems.

I will consider putting getopt.h and getopt.cpp into the win32 folder, but I may not be able to due to incompatible license.

[2017-06-26 07:17] zhouwanchun1993 opened #25 "Convert stream data to aff"
How can I convert a stream data to an aff file. Is there a function (such as update as below) can be invoked once or multiple times to write spacifiec data to aff file?

For example:
// do something to initialize aff context or do somethings else
char buffer[100] = “Today is a nice day”;
update(buffer,strlen(buffer));  // update can be invoked once or multiple times.
// close file or do something

[2017-06-26 17:35] sshock commented on #25
Yes, after calling af_open() to create the aff and get an AFFLIB*, and then call af_enable_compression() if you want compression, then you can call af_write() one or more times to write any data you want, e.g.,

af_write(aff, buffer, strlen(buffer));

[2017-06-27 12:37] zhouwanchun1993 commented on #25
Ok. It works. Thank you. and I find total size to be written must be the times of 512 bytes,otherwise the output aff file can't be opened correctly with FTK Imager.

[2017-06-27 12:37] #25 closed

[2017-06-27 16:44] sshock commented on #25
Glad to hear it all worked out for you.

[2017-07-23 00:01] DexterHaslem opened #26 "packaged binaries?"
the doc file at https://github.com/sshock/AFFLIBv3/blob/master/README_Win32.txt  mentions there is a zip of precompiled binaries. I looked around releases a bit and only could find source code. is this readme simply out of date?

[2017-07-24 02:44] sshock commented on #26
Yes, the readme was out-of-date.  I went ahead and updated it in e32b671f7dc78d6d2fc29018eb37406619849313.  Please take a look.

[2017-07-24 02:44] #26 closed

[2017-08-29 13:01] samrajcse opened #27 "Unable to configure due to input file missing"
Hi Team,

I can able to complete the ./configure command due to following error.

**Stacktrace:**
checking that generated files are newer than configure... done
configure: creating ./config.status
config.status: creating Makefile
config.status: error: cannot find input file: `lib/Makefile.in'

[2017-08-29 14:18] sshock commented on #27
Did you run ./bootstrap.sh first?

[2017-08-29 14:29] samrajcse commented on #27
Yeah. I did that.

On 29 Aug 2017 7:48 pm, "Phillip Hellewell" <notifications@github.com>
wrote:

[2017-08-29 19:49] sshock commented on #27
I can't reproduce your problem.  Do you have a lib/Makefile.in or not?  When you run bootstrap.sh it should create that.

Did you get an error when running bootstrap.sh?

[2017-09-18 16:14] jdossett commented on #20
Hi,
I think the problem is not necessarily related to that line.  I am using affuse to try to mount split (non-aff) images.  so image.0001 ... image.1024 for example.  When I try to mount this split image I get an error:

[code]
If I try to mount a set of split files with more than 1000 segments that go img.001... img.2048, The resulting raw image is corrupt.

It would be most useful if we could m

[2017-09-18 16:19] jdossett opened #28 "Feature request: affuse support for more than 999 segments"
I need to mount an image (non-aff) that has more than 999 segments.  I read your response in #20 and I don't know if that is the issue.  Say for example I try to mount a split image named like this:

image.0001 ... image.1024.  When I try to mount this split image I get an error:

[code]
If I try to mount a set of split files with more than 1000 segments that go img.001... img.2048, The resulting

[2017-09-18 18:02] jdossett commented on #28
I have been looking into this more, it looks like the fix would have to be in vnode_split_raw.cpp.  There is a hard coded limit to 3 character file extensions in that file.

[2017-09-19 03:19] sshock commented on #27
No response in 20 days so closing...

[2017-09-19 03:19] #27 closed

[2017-09-19 03:30] sshock commented on #28
I took a look at split_raw_increment_fname(), and sure enough it is designed with a hard-coded limit of 3 characters.

But if you look a little closer you may notice that after .999 it looks for .A00, and from there it counts up using numbers and letters like so:

.A00
.A01
...
.A09
.A0A
...
.A0Z
.A10
...
.AZZ
.B00
...

Or in other words, like the comment says:
/* First digit goes A-Z, second and

[2017-09-19 15:18] jdossett commented on #28
Thanks so much for the quick response.  I tried changing the names and that does appear to let it read > 999 files.

However after that I get an error:

[code]
It looks like there is a hard cap for 1024 files somewhere in the code.  I am currently trying to hunt it down.

[2017-09-19 16:11] jdossett commented on #28
Actually it turns out there looks to be a bug around line 142 in vnode_split_raw.cpp.  I think

[code]

should be
[code]

As currently written the incrementing would go A09 -> A10 instead of A09->A0A as it should from indications in the comment at line 131.

Fixing this doesn't change the limited number of files (which actually appears to be 1021).

[2017-09-19 16:20] jdossett commented on #28
Sorry about that.  So there is no internal limit on the number of open files.  That was a ulimit issue on my system, and not related to the code.

The bug in my previous comment, around incrementing is still an issue though.  With those things fixed now everything is working for me.

Do you want me to create a PR around the incrementing bug?

[2017-09-20 05:19] sshock commented on #28
Yes, please do create a PR for that.  I agree with your assessment.

[2017-09-20 18:38] jdossett commented on #28
PR created, closing this issue.  Thanks again.

[2017-09-20 18:38] #28 closed

[2018-03-09 16:11] PracaGrande opened #30 "Contact email"
Hello AFFLib team, is there an email that I could contact in order to report some minor security issue?

[2018-03-09 16:13] PracaGrande commented on #30
nvm, found one.

[2018-03-09 16:13] #30 closed

[2018-03-14 03:08] gsharpsh00ter opened #32 "affconvert stack buffer overflow write vulnerability"
**0x01 Description**

A stack buffer overflow write vulnerability was found in LIBAFFv3(and prior) toolkit affconvert. The vulnerability exists because of improper calculation of buffer size to copy. Due to the nature of this vulnerability, attackers may cause a denial-of-service status or potentially execute arbitrary code.

**0x02 Analysis**

The issue exists in affconvert.cpp line 671(maybe als

[2018-03-14 05:56] sshock commented on #32
Actually, I think using sizeof() is correct here, as strlcpy() takes the size of the buffer as 3rd param.

But there is a problem.  The only problem is an off-by-one.  What it should be is:
``strlcpy(cc+1,ext,sizeof(outfile)-(cc+1-outfile));``

[2018-03-14 05:59] sshock commented on #32
Fixed in bdb0ef1

[2018-03-14 05:59] #32 closed

[2018-09-05 19:45] mloom00 opened #33 "Win32 Upload Lib"
@sshock I cannot get the build of this to work on Windows. I came across many similar issues discussed in the readme, but it has been one issue after another. If possible can you get an uploaded static library so that my project can make use of it?

In reference to the Windows getopt issue. I pulled the .c/.h files for these from the [IoTivity](https://github.com/iotivity/iotivity/tree/master/reso

[2018-09-05 22:17] sshock commented on #33
The library itself should build no problem, but the tools are harder; I've personally never gotten the tools to build on windows.

Please read through all the comments in #24.

[2018-09-08 03:05] eribertomota opened #34 "affstats: invalid option -- 'v'"
Hi,

When using affstats -v, the command says:

[code]

The right option is -V (not -v). Please, fix the manpage too.

Cheers,

Eriberto

[2018-09-09 17:30] #34 closed

[2018-10-11 07:19] fxcoudert opened #35 "Error in pyaff with Python 3"
Trying to compile pyaff with Python 3, I am getting the following error:

[code]

Configuration was the following: `./configure --disable-dependency-tracking --prefix=/usr/local/Cellar/afflib/3.7.17_1 --enable-s3 --enable-python PYTHON=python3 --disable-fuse`

[2018-10-11 07:33] #33 closed

[2018-10-11 07:53] sshock commented on #35
Does it work if you just remove the `, NULL` argument there on line 2797 of `pyaff.c` ?

(I just tried it on my Linux box with Python 3.5.3 and it compiles with or without that).

[2018-10-11 08:53] fxcoudert commented on #35
I see now `/* Generated by Cython 0.25.1 */`, apparently older Cython versions are incompatible with Python 3.7.

[2018-10-11 14:56] sshock commented on #35
ok, let me see if re-generating it with a newer Cython helps

[2018-10-11 14:58] sshock commented on #35
ok, I updated it in f6fffee; did that help?

[2018-10-12 20:29] fxcoudert commented on #35
I am not a user of the software, merely a maintainer for the Homebrew distribution, which ships it. We are migrating our formulas to Python 3. If there is no Python 3(.7) support, we'll probably simply use `--disable-python`.

[2018-10-16 01:14] sshock commented on #35
ok, I regenerated it using Cython 0.29 in 3d017596d5e8f0683a0cc2d8caac8ee611d0c2d6; does it work for you now?

[2018-12-02 10:07] kwizart opened #36 "Switch from lzma to xz"
lzma is un-maintained and replaced with xz. Is there any issue to move to (system) xz instead of using the bundled lzma in afflib ?

[2018-12-03 00:03] sshock commented on #36
Since afflib is just in maintenance mode, I don't want to make any big changes, especially not if it affects the file format.

But if you just mean updating the lzma code in there by replacing it with the current lzma code from xz utils, and we make sure to stick with lzma not lzma2 so we don't break backward or forward compatibility, and enough testing is performed to verify that, then I would be

[2019-01-09 16:58] david-geiger commented on #35
Hi,

I confirm that commit https://github.com/sshock/AFFLIBv3/commit/3d017596d5e8f0683a0cc2d8caac8ee611d0c2d6 fixes build issue with new Python 3.7 and cython 0.29 on mageia Cauldron!

Regards,
David

[2019-01-09 17:35] sshock commented on #35
good to know, thanks!

[2019-01-09 17:35] #35 closed

[2019-01-27 09:48] pacho2 opened #37 "AFFLIB 3.7.17: FAIL: aftest"
I get a test failing while building:
FAIL: aftest
============================================================================
Testsuite summary for AFFLIB 3.7.17
============================================================================
# TOTAL: 1
# PASS:  0
# SKIP:  0
# XFAIL: 0
# FAIL:  1
# XPASS: 0
# ERROR: 0
============================================================================
See li

[2019-01-30 16:12] sshock commented on #28
(the PR that fixes this was #29)

[2019-01-30 16:28] sshock commented on #37
The tests broke as a side effect of fix #29 made in Sep 2017 (see issue #28 for more details).

The quick summary is that the first 1000 segments are easy (.000 to .999), but after that it goes to .A00 and there was a discrepancy between what the code said it would do and what it actually did for incrementing after that, so we fixed the code to match what it said it would do, which is also what ma

[2019-01-31 00:46] #37 closed

[2019-02-16 08:30] pacho2 commented on #37
Thanks a lot!

[2019-02-16 08:33] pacho2 opened #38 "afflib-3.7.17 (with commit 1af39770803caa768b5991f010a298918c19df7a) tests fail"
After applying:
https://github.com/sshock/AFFLIBv3/commit/1af39770803caa768b5991f010a298918c19df7a.patch

I hit now two new test failures:
PASS: aftest
============================================================================
Testsuite summary for AFFLIB 3.7.17
============================================================================
# TOTAL: 1
# PASS:  1
# SKIP:  0
# XFAIL: 0
# FAIL:  0
# X

[2019-02-16 15:20] sshock commented on #38
Hi @pacho2

I'm seeing these two failures with or without 1af39770803caa768b5991f010a298918c19df7a, so I don't think it's related.  I think these were already broken.

[2019-02-16 16:51] sshock commented on #38
the `test_recovery.sh` and `test_signing.sh` fail for me even checking out older revisions back to 7 years ago...

[2019-02-16 17:38] sshock commented on #38
found the problem: it was freeing the evp md context before it was done using it

surprised this bug went unnoticed for so long, but it could be that it hasn't been that long because maybe OpenSSL changed how EVP_MD_CTX_free works; e.g., perhaps it zeroes out the data now and didn't used to

[2019-02-16 17:43] #38 closed

[2019-02-16 18:15] sshock commented on #38
looks like it was actually me who introduced the issue in Aug 2016 when adding support for OpenSSL 1.1.0 in ab1306d320dd482c277ac7fe3469440acd963162

not sure why when I tested with really old revisions it was also failing; I must have been doing something wrong

[2019-02-17 21:27] pacho2 commented on #38
All tests pass with 3.7.18 :D

I guess that  I didn't notice them failing because of the previous test that was failing before and, then, I wasn't running the rest of the testsuite

Thanks a lot

[2019-06-24 18:02] dcb314 opened #39 "afflib.cpp:820: use of out of scope variable"
afflib.spec.out:[afflib.cpp:820] -> [afflib.cpp:816] -> [afflib.cpp:836]: (error) Using pointer to local variable 'aesname' that is out of scope.

[2019-06-24 18:22] sshock commented on #39
cool, can you submit a pull request?

[2019-06-24 19:16] dcb314 commented on #39
Sorry, no.

I've found another one.

qemu/block-raw-posix.c:657] -> [qemu/block-raw-posix.c:642] -> [qemu/block-raw-posix.c:691]: (error) Using pointer to local variable 'bsdPath' that is out of scope.

[2019-06-28 22:42] sshock commented on #39
ok, well it's easy enough, so I'll just fix it

[2019-06-28 22:43] #39 closed

[2020-07-01 01:52] eribertomota opened #41 "affsign -k: segmentation fault in s390x, ppc64 and sparc64 (Debian)"
Hi @sshock,

In my last Debian revision for afflib, I re-enabled the upstream tests (disabled since 2010). The package was built in several architectures but failed to build from source in three archs: s390x, ppc64 and sparc64. I attached the build logs but you can see a relevant part below:

[code]

I have SSH access to all machines and I can help to do tests. In a s390x, running the command by h

[2020-07-01 02:39] eribertomota opened #42 "aftest: bugs.aff: Invalid argument in HURD (Debian)"
Dear @sshock,

As I said in #41, I re-enabled the upstream tests for afflib in Debian. The package was built in several architectures but failed to build from source in hurd-i386. I attached a full build log but you can see the relevant part below:

[code]

I have SSH access to hurd-i386 machine. Please, let me know if you need more details or tests.

Thanks a lot in advance.

Regards,

Eriberto

[2020-07-01 03:43] sshock commented on #41
Hi @eribertomota .  My suspicion is an endian-ness bug somewhere, but that is just a guess.  Can you get me a call stack where it seg faults?

For the rawevidence.raw, I am open to suggestions on how to change that script.  I think we could just have it grab files from somewhere else like `/bin/` instead.  Would that work?

[2020-07-01 03:56] sshock commented on #42
@eribertomota This looks like probably the error is that is actualy can't create the `bugs.aff` file, maybe due to permissions or something?  Do you know what the CWD is when `aftest` gets run and is it somewhere that the test will have access to write to?

[2020-07-01 03:56] eribertomota commented on #41
Thanks for your very quick reply. Can you guide me how to get a call stack?

I think the rawevidence.raw must be ASCII only (because the old upstream focused in dictionaries). I suggest to use local .cpp files as source or a file from /etc. What you think about it?

[2020-07-01 04:02] eribertomota commented on #42
It is a bit odd for me because all Debian building environments are identical. I don't believe in a permission issue. The CWD is set by Makefile. But we have 22 architectures and aftest fails in hurd-i386 only.

[2020-07-01 04:05] eribertomota commented on #42
I uploaded a workaround some minutes ago (disabling test_signing.sh) but you can see all current builds here[1].

[1] https://buildd.debian.org/status/package.php?p=afflib

[2020-07-01 04:06] sshock commented on #41
If you run aftest inside gdb (e.g., `gdb lib/aftest` and then inside gdb type `run` and hit enter), then inside gdb after it seg faults just type `bt` and hit enter and that should spit out a back trace.

I can't see anything that indicates they have to be text files, but I like your idea better, so I'll try that.

[2020-07-01 04:10] eribertomota commented on #41
aftest or affsign?

[2020-07-01 04:20] sshock commented on #41
oh yeah, sorry; `affsign`

[2020-07-01 04:23] sshock commented on #41
This worked for me (I had to use .libs/affsign because affsign ends up being a libtool wrapper script or somethign):

[code]

[2020-07-01 04:26] eribertomota commented on #41
In s390x:

/home/eriberto/afflib/afflib-3.7.18/tools/.libs/affsign: error while loading shared libraries: libafflib.so.0: cannot open shared object file: No such file or directory
[Inferior 1 (process 13801) exited with code 0177]

[2020-07-01 04:28] eribertomota commented on #41
Maybe I need install afflib in environment...

[2020-07-01 04:30] sshock commented on #41
fyi, I just put in the fix to make it not rely on /usr/share/dict: 15ebb83

[2020-07-01 04:31] eribertomota commented on #41
Ok, I did a test in my local machine. I need install afflib and use a prebuilt tmp/name.pem. The problem is I don't have permission to install afflib in remote machine... Is there a way to use a local libafflib.so.0?

[2020-07-01 04:32] eribertomota commented on #41
Good!

[2020-07-01 04:36] eribertomota commented on #41
I just installed afflib in remote. A moment please...

[2020-07-01 04:39] #36 closed

[2020-07-01 04:41] eribertomota commented on #41
Well... I don't understand...

[code]

No fail, no stack.

[2020-07-01 04:42] eribertomota commented on #41
However, I ran the build command again and I got the same error.

[2020-07-01 04:44] sshock commented on #42
Hmm, I wonder if it hurd doesn't like this combination of open flags `O_RDWR|O_CREAT|O_TRUNC` ?

[2020-07-01 04:46] eribertomota commented on #42
I am creating a hurd environment to run gdb. But I can test any change from you now.

[2020-07-01 04:50] sshock commented on #41
Hmm, that is very odd for it to work outside of gdb but not inside, crazy!

How about this.  Can you make it dump a core file?  I think you can enable that by running `ulimit -c unlimited`.  Then go ahead and run `./affsign -k /tmp/baseD7ezF.agent.pem /tmp/baseD7ezF.evidence.aff`.  It should create a core file.  Then you can open the core file with gdb using `gdb .libs/affsign core`.  Then I think

[2020-07-01 04:54] eribertomota commented on #41
I created a valgrind for you... I will try gdb.

[valgrind.gz](https://github.com/sshock/AFFLIBv3/files/4855739/valgrind.gz)

[2020-07-01 04:57] eribertomota commented on #41
[code]

[2020-07-01 04:58] eribertomota commented on #41
---> 308     afflib_pages.cpp: No such file or directory  ???

[2020-07-01 04:58] sshock commented on #42
Let's start by verifying this line (line 733) in lib/aftest.cpp is the line that is failing:

[code]

by e.g., adding a `printf("HERE 1\n");` and a `printf("HERE 2\n");` on the line before and after that line.

After confirming that line is the culprit, I think we need to play with those parameters to see what makes it work; e.g., try an absolute path for bugs.aff; e.g., try removing the O_TRUNC f

[2020-07-01 05:02] sshock commented on #41
wow, so many errors!

[2020-07-01 05:06] sshock commented on #41
I think the seg fault happened on line 308 of afflib_pages.cpp, but the `No such file or directory` just means it couldn't open the source code for some reason.

Here's lines 306-309:
[code]

[2020-07-01 05:08] eribertomota commented on #42
[code]

[2020-07-01 05:16] sshock commented on #42
oops, I meant to say put the HERE 2 line after this line:
[code]

[2020-07-01 05:26] eribertomota commented on #42
I already tried remove OTRUNC. Nothing. Going to s/0666/0.

[code]

[2020-07-01 05:33] sshock commented on #42
cool, if changing the mode doesn't help, you can also try changing "bugs.aff" to something else like "/tmp/tmp.aff"

[2020-07-01 05:34] eribertomota commented on #42
s/0666/0 not work

[2020-07-01 05:34] sshock commented on #41
I'm scouring the code here but not seeing the problem yet.  Seems likely to be something such as the data buffer not getting allocated to the full size it should be (pagesize).

[2020-07-01 05:38] eribertomota commented on #42
Not worked:

[code]

[2020-07-01 05:56] sshock commented on #42
can you put the HERE 1 and HERE 2 lines around these two lines in lib/vnode_aff.cpp and try it?
[code]

[2020-07-01 06:04] sshock commented on #41
can you tell me what sizeof(long) is on those systems?

[2020-07-01 06:05] eribertomota commented on #42
I added the new lines and I kept the old lines.

[code]

[2020-07-01 06:10] eribertomota commented on #41
How to get it?

[2020-07-01 06:12] eribertomota commented on #41
s390x
$ cpp -dD /dev/null | grep __SIZEOF_LONG__
#define __SIZEOF_LONG__ 8

hurd
$ cpp -dD /dev/null | grep __SIZEOF_LONG__
#define __SIZEOF_LONG__ 4

[2020-07-01 06:13] sshock commented on #41
ok, yeah I think I found the problem; one minute...

[2020-07-01 06:14] eribertomota commented on #41
good

[2020-07-01 06:15] sshock commented on #42
ok, looks like that check is where it's failing; now we just need to determine if it's failing on the `!af_is_filestream(af->fname)` or the `(af->openflags & O_ACCMODE) == O_WRONLY`

can you revert all the changes we've made so far and then replace lines 553 and 554 with this block of code:

[code]

[2020-07-01 06:17] sshock commented on #41
please try changing line 244 in lib/afflib_pages.cpp, from this:
[code]

to this:
[code]

and let me know if it runs better

[2020-07-01 06:17] eribertomota commented on #42
Yes. In packaging is mandatory use patches. I will remove the patches and use this new.

[2020-07-01 06:25] eribertomota commented on #42
No results for grep BAD

[2020-07-01 06:25] eribertomota commented on #41
Worked fine!

[2020-07-01 06:27] sshock commented on #42
oh, I must have misinterpreted what your previous test was then; I suppose the `HERE 1` in that was from an earlier `HERE 1` and not the one in vnode_aff.cpp, so....

...back to square one, also, is it easier if I just attach patches?

[2020-07-01 06:28] sshock commented on #41
awesome!  committing the fix and adding in a sanity test to go with it now...

[2020-07-01 06:28] eribertomota commented on #41
If you want I can prepare a patch and send to Debian experimental to test in all archs before you release a new version.

[2020-07-01 06:28] #41 closed

[2020-07-01 06:29] sshock commented on #41
@eribertomota yes, that would be great, thanks!

here is the commit with the fix, which is also in master now: e386977

[2020-07-01 06:31] eribertomota commented on #42
No. I just change the file and run 'dpkg-source --commit' and debhelper creates the patch for me.

[2020-07-01 06:32] eribertomota commented on #41
I will send master to Debian. For Debian it is 3.7.18+git20200701.e386977

[2020-07-01 06:36] sshock commented on #42
ok, this next test is a little bigger, so I'll paste it as a patch just in case; please revert all previous changes and test this patch:

[code]

[2020-07-01 06:37] sshock commented on #41
remind me when this is all done to create a new version (tag), since it has been a while

[2020-07-01 06:48] eribertomota commented on #42
Sorry for delay. I made it manually because copy/paste changed tabs for spaces. Building.

[2020-07-01 06:50] sshock commented on #42
ok, no worries; in the future you don't need to worry about that; the code will work regardless of tabs or spaces for indenting

[2020-07-01 06:52] eribertomota commented on #42
Yes, but the patch command won't apply a patch if tabs changed by spaces.

[2020-07-01 06:52] sshock commented on #42
oh, I see what you mean; sorry about that

[2020-07-01 06:53] eribertomota commented on #42
No problem my friend. No results for grep aff_open.

[2020-07-01 06:55] sshock commented on #42
what in the world?  ok, let me take a closer look here...

[2020-07-01 07:11] eribertomota commented on #41
Sure!

[2020-07-01 07:15] eribertomota commented on #42
Sorry but I need to send afflib to experimental and sleep. Now 04:12 AM in Brazil.

hurd is a non-official arch in Debian and can wait if needed. s390x is in main line. I will can work in some hours or other day if you busy.

I am thankful  for the work you've done .

[2020-07-01 07:16] sshock commented on #42
ok, let's try this

[tmp.patch.txt](https://github.com/sshock/AFFLIBv3/files/4856261/tmp.patch.txt)

[2020-07-01 07:17] sshock commented on #42
ok, no worries; it's getting late for me too; I can pick this back up on Saturday if not sooner

[2020-07-01 07:19] eribertomota commented on #42
Thank you! I will send the package to experimental now and tomorrow I will post here the results of the new patch. Have a good night!

[2020-07-01 07:23] eribertomota commented on #42
Sent. I some hours we will have a result here:

https://buildd.debian.org/status/package.php?p=afflib&suite=experimental

Goodbye!

[2020-07-01 18:25] eribertomota commented on #42
Good evening from Brazil @sshock,

S390x, ppc64 and sparc64 has been built like a charm, thanks!

I applied tmp.patch.txt now in hurd-i386. The result of egrep is below.

[code]

============================================================================
Testsuite summary for AFFLIB 3.7.18

[2020-07-05 05:47] eribertomota commented on #42
Hi @sshock,

Now you can run Debian/Hurd-i386 in your own PC! I prepared a simple tutorial about it[1].

[1] https://eriberto.pro.br/wiki/index.php?title=Running_Debian/Hurd_in_KVM

After get your Hurd, you can do it as root:

[code]

When fixed the tests, please, release a new version. If you need any help, please call me!

Thanks a lot in advance!

Cheers,

Eriberto

[2020-07-05 15:16] sshock commented on #42
Cool, I'll give it a try soon.

[2020-07-05 16:10] sshock commented on #42
I had gnu/hurd working then after a bunch of updates and rebooting it now no longer works, even when starting over.  It hangs on `start ext2fs: Hurd server bootstrap: ext2fs[device:hd0s2] exec`.

But that's ok.  I think I understand the problem already based on the output you pasted 4 days ago and a note from [here](https://www.gnu.org/software/libc/manual/html_node/Access-Modes.html):

So yeah, t

[2020-07-05 16:22] sshock commented on #42
@eribertomota I just made this commit that I believe will fix the issue: 7a8b5ca

Can you test that for me since hurd on kvm isn't working for me at the moment, and then I'll create a tag/release if it works.  Thanks!

[2020-07-05 17:00] eribertomota commented on #42
@sshock Thanks a lot for your efforts.

I think the problem with HURD Kvm machine can be caused by aleatory issues in environment. I think a new try can result in success.

The commit 7a8b5ca caused new fails. See below:
[code]

Cheers,

Eriberto

[2020-07-05 18:42] sshock commented on #42
Looks like some more work to do.  Ok, I'll try to hurd again later and hope it behaves so I can look into these...

[2020-07-06 06:42] sshock commented on #42
Hi @eribertomota .  I committed some more fixes, mostly related to open flags that were not being set properly.  All the tests are passing for me now.  Can you please try again with the latest code from master and make sure it works for you too?

[2020-07-06 12:49] eribertomota commented on #42
Hi @sshock, the changes seem to work now. I uploaded a new package to Debian Experimental and in some hours we will know if the tests are working in all architectures[1]. I will notify you. Thanks a lot for your help!

[1] https://buildd.debian.org/status/package.php?p=afflib&suite=experimental

PS: worked fine your Hurd machine?

[2020-07-06 16:29] eribertomota commented on #42
Hi @sshock! The afflib has been built in all architectures, except to Hurd, due to a temporary issue with a dependency of debhelper (the packaging system). However, I confirmed in my personal Hurd machine that the package is building fine. You can release a new version now.

There are some warnings when building, but it is not a problem for Debian. If you don't like it, please check the reports he

[2020-07-06 20:08] sshock commented on #42
Yeah, well, I had to switch to another computer and then I was able to get it working.

[2020-07-06 20:11] sshock commented on #42
Cool, I will take care of that later tonight.

Cool, I may take a look at those sometime.

[2020-07-06 23:42] eribertomota commented on #42
Don't worry! This is a specific problem of Debian infrastructure and it was already fixed. The Hurd version was built.

Good! If you want, I can upload new changes to Experimental again before you release a new version.

[2020-07-07 04:33] sshock commented on #42
I'm going to call this good for now.  The new release has been made!

https://github.com/sshock/AFFLIBv3/releases/tag/v3.7.19

[2020-07-07 04:33] #42 closed

[2020-07-07 04:38] eribertomota commented on #42
Thank you! I will send it to Debian.

Em ter., 7 de jul. de 2020 às 01:33, Phillip Hellewell <
notifications@github.com> escreveu:

[2020-07-18 23:10] chenrui333 opened #43 "missing license for the repo"
license reference list, https://spdx.org/licenses/

[2020-07-19 15:29] sshock commented on #43
The license is spelled out in the COPYING file.

https://github.com/sshock/AFFLIBv3/blob/master/COPYING

[2020-10-14 09:27] fxcoudert opened #44 "Build failure with Python 3.9.0"
afflib 3.7.19 does not build with Python 3.9.0 (https://github.com/Homebrew/homebrew-core/pull/62560), it gives the following error:

[code]

because (https://docs.python.org/3.9/whatsnew/3.9.html):

I suspect pyaff.c needs to be updated with a newer Cython.

[2020-10-16 00:37] #43 closed

[2020-10-16 00:41] chenrui333 commented on #43
Thanks @sshock!!

[2020-10-16 00:58] sshock commented on #44
@fxcoudert I updated it; can you see if it works now?

[2020-10-24 11:56] dcb314 opened #45 "lzma443/C/Common/String.h:434: bad array size ?"
../lzma443/C/Common/String.h:434:58: warning: division 'sizeof (const char*) / sizeof (const char)' does not compute the number of array elements [-Wsizeof-pointer-div]

Wsizeof-pointer-div is a new warning in gcc.

[2020-10-24 18:33] sshock commented on #45
I don't think this part of this old lzma code is even being used, but I'll fix it real quick...

[2020-10-24 18:33] #45 closed

[2020-10-24 18:38] #44 closed

[2020-10-24 18:41] sshock commented on #45
fixed in f103f66c4924b8678a3f72fbe5fa68e7fc3f7bc0

[2021-08-15 11:50] eribertomota opened #47 "configure.ac: warnings with autoconf >= 2.70"
Dear @sshock,

From Debian Sid using autoconf 2.71:

[code]

The command `autoupdate' will help to solve some issues.

Cheers,

Eriberto

[2021-08-22 22:50] sshock commented on #47
@eribertomota How does it look now?

[2021-08-22 23:06] eribertomota commented on #47
Hi @sshock,

Now, is shown for me:

[code]

[2021-08-22 23:15] sshock commented on #47
Oh, I get it now.  Those are actually coming from m4/acx_pthread.m4.

I think I need to install a new version of autoconf before autoupdate will correct that for me...

[2021-08-22 23:34] eribertomota commented on #47
Sure!

[2021-08-22 23:51] sshock commented on #47
Hmm, I switched from autoconf 2.69 to another machine that has autoconf 2.71 and it still doesn't fix that m4 file for me.  Maybe I can just figure each one out manually...

[2021-08-22 23:56] sshock commented on #47
I think I've got it down to one warning now.

[2021-08-23 00:03] eribertomota commented on #47
Yes

configure.ac:31: warning: The macro `AC_TRY_LINK' is obsolete.
configure.ac:31: You should run autoupdate.
./lib/autoconf/general.m4:2920: AC_TRY_LINK is expanded from...
m4/acx_pthread.m4:11: ACX_PTHREAD is expanded from...
configure.ac:31: the top level

[2021-08-23 00:09] sshock commented on #47
I think I can replace acx_pthread.m4 with a newer one (now called ax_pthread.m4) from [here](https://www.gnu.org/software/autoconf-archive/ax_pthread.html).

But I'm confused because I just tried ripping it out completely and everything still compiles, so now I'm confused about whether it's even really needed at all...

[2021-08-23 00:13] eribertomota commented on #47
Em dom., 22 de ago. de 2021 às 21:09, Phillip Hellewell <
***@***.***> escreveu:

What is your Linux?

[2021-08-23 03:59] sshock commented on #47
Debian 9.13

Anyway, I think the safest course of action is to just upgrade to the latest version of this pthread m4 macro.

[2021-08-23 04:08] sshock commented on #47
@eribertomota I think this is good to go now if you want to give it a try.

[2021-08-23 13:30] eribertomota commented on #47
All right now!!!!

When packaging, we use a jail chroot in Stable to work in Sid (Unstable). You can use it to work in a clean and updated environment, without change your original installation. If possible, try it:

[code]

After this, put the following lines at the end of your /etc/bash.bashrc (use C, don't change it):

[code]

And run it:

[code]

There are some warnings in compilation, I attac

[2021-08-23 14:08] eribertomota commented on #47
I forgot to say that autoconf 2.71 is in experimental. Please, add the following line in /etc/apt/sources.list:

```deb http://deb.debian.org/debian experimental main```

and run:

[code]
Without `-t experimental` all packages will be get from unstable.

[2021-08-23 14:27] sshock commented on #47
Cool, I'll give it a try sometime.  I don't know if I'll be able to fix all of the warnings, but maybe some of them I can.

[2021-08-23 19:59] eribertomota commented on #47
Don't worry. Take your time.

[2021-08-23 22:38] eribertomota commented on #47
News: autoconf 2.71 was migrated to unstable some hours ago. Bye!

[2021-08-24 06:35] sshock commented on #47
@eribertomota I think I've fixed all the compile warnings now.

[2021-08-24 16:36] eribertomota commented on #47
Hi @sshock

Please, check attached file. I called it version 4.0, please ignore this number.

[afflib_4.0-2_amd64.build.gz](https://github.com/sshock/AFFLIBv3/files/7040696/afflib_4.0-2_amd64.build.gz)

[2021-08-25 03:26] sshock commented on #47
Ugh, a bunch of warnings in this old LZMA code embedded in here...

Why are you seeing these warnings now but not in the earlier test?

[2021-08-25 13:12] eribertomota commented on #47
Maybe because I am using GCC-11. I think is this.

If you want try it in jail Sid, use the following extra commands:

[code]

If you don't have time, fix these warnings is not urgent/important. But if you like play with warnings, test the jail!

[2021-08-27 15:27] eribertomota opened #48 "Debian Lintian: libafflib0v5: exit-in-shared-library usr/lib/x86_64-linux-gnu/libafflib.so.0.0.0"
I did a little comment about it in #47. How to reproduce:

1. Make a jail Sid in Debian. Instructions [here](https://github.com/sshock/AFFLIBv3/issues/47#issuecomment-903770636).
2. Inside of the jail, install lintian:
```# apt install lintian```
3. Create /root/.lintianrc with the following content:
[code]
4. Install some extra packages:
```apt install debhelper devscripts quilt```
5. Download th

[2021-08-28 01:31] sshock commented on #48
Thanks for writing this up with all those instructions.

[2021-08-28 01:50] sshock commented on #48
I'm getting this error when I try to run `apt source afflib`:

[code]

I modified /etc/apt/source.list and added this line, but I'm still getting the error.

[code]

[2021-08-28 02:18] sshock commented on #47
@eribertomota I put in an [alternate fix](https://github.com/sshock/AFFLIBv3/commit/df39e2b3cb1e41377076a68498aa90a82bc9f5c5) for the warning.  Did it work?

[2021-08-31 19:27] eribertomota commented on #48
Em sex., 27 de ago. de 2021 às 22:50, Phillip Hellewell
***@***.***> escreveu:

Sorry for my delay. I didn't find this message in GitHub. Do you have
problems yet?

Ah, you need to have two lines:

deb http://deb.debian.org/debian sid main
deb-src http://deb.debian.org/debian sid main

[2021-08-31 19:33] eribertomota commented on #47
Sorry for my delay @sshock. The lintian stills present.

[2021-09-01 04:22] sshock commented on #47
@eribertomota I don't know what to try next because that warning is definitely fixed for me.  What version of gcc are you using?  I can't reproduce the problem with gcc 10.3.0 nor gcc 11.2.0.

Maybe we can ask someone else to try it?  Maybe you have a machine I can ssh into to try it on?  Maybe you can provide explicit steps for me to follow after setting up the jail chroot?

Here's the full outpu

[2021-09-01 04:35] sshock commented on #47
Hmm, I wonder if the reason it's behaving slightly differently is because my server is 32-bit Linux not 64-bit (which is sad; don't know why I did that).

At least with that CI you added that will help me a lot, thanks!

[2021-09-01 04:50] sshock commented on #47
@eribertomota I think I finally got it!

[2021-09-01 12:03] eribertomota commented on #47
Perfect!!!! No warnings.

About the CI test, is a good idea to test if all executables are working fine after each push. It is easy. Please, see the test that I am using in dcfldd [here](https://github.com/resurrecting-open-source-projects/dcfldd/blob/master/.github/workflows/full-check.yml). See the section "run_program". If a segmentation fault or other issue occurs, the test will fail. You also

[2021-09-01 20:39] eribertomota commented on #48
I sent #50. However, note that the lintian says: "This tag is experimental. Please file a bug report if the tag seems wrong.".

[2021-09-01 23:52] sshock commented on #47
@eribertomota that sounds fine to me; go ahead and create a PR that makes any additional updates to the CI file that make sense (which I think you already did).

As for this issue, I am closing it now.

[2021-09-02 00:13] eribertomota commented on #47
Done. ---> #50